@import "../utility/color.css";

tr {
  height: 40px;
}
.table > tbody > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}
.btn-row > .title-cell {
  vertical-align: middle;
  padding-left: 15px;
  border-right: 2px solid black;
}
.title-cell {
  font-size: 1.1em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.header-row > .header-cell {
  vertical-align: middle;
  text-align: center;
  border: 2px solid black;
}
.title-row > th {
  height: 2.5em;
  font-size: 1em;
  background-color: var(--background-blue);
  color: white;
  text-align: center;
  border: 2px solid black;
}
.result-cell {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table > .solid-border{
  border: 2px solid black;
  border-collapse: collapse;
}
/* table styling end */
.btn-cell input[value="3"]:checked ~ .checkmark {
  background-color: var(--mid-orange);
  font-weight: bold;
}
.btn-cell input[value="4"]:checked ~ .checkmark {
  background-color: var(--high-red);
  font-weight: bold;
}
/* End of Radio button style */


/* Style of sidebar with results */
.resultbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}
.reset-btn {
  height: 40px;
  width: 30%;
  font-size: 18px;
  color: white;
  background-color: var(--background-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.reset-btn:hover {
  background-color: var(--highlight-blue);
}*/
/* End of sidebar style */

/* Collapsible content */
.collapsible {
  color: white;
  background-color: var(--background-blue);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 24px;
}
.collapsible_open {
  background-color: var(--highlight-blue);
}