:root {
  --low-green: #c6e0b4;
  --mid-yellow: #ffd966;
  --mid-orange: #f7972d;
  --high-red: #ff5050;
  --background-blue: #203764;
  --highlight-blue: #3e6ca8;
}
/* table styling start */
table {
  width: 1px;
  height: 1px;
  border-spacing: 0px;
}
tr {
  height: 25px;
}
#mainTable {
  width: 100%;
  border: 2px solid black
}
.table > tbody > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}
.btn-row > .title-cell {
  font-size: 10px;
  vertical-align: middle;
  padding-left: 10px;
  border-right: 2px solid black;
}
.result-row > .title-cell {
  font-size: 12px;
  vertical-align: middle;
  padding-left: 10px;
}
.image-cell {

}
.meta-cell > .meta-text {
  -webkit-transform:rotate(-90deg);
}
.header-row > .header-cell {
  vertical-align: middle;
  text-align: center;
  border: 2px solid black;
}
.title-row > th {
  height: 40px;
  font-size: 14px;
  background-color: var(--background-blue);
  color: white;
  text-align: center;
  border: 2px solid black;
}
.result-cell {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.table > .solid-border{
  border: 2px solid black;
  border-collapse: collapse;
  display: table-row-group;
}
/* table styling end */

/* Style custom radio buttons */
.radioButton {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  display: block;
}
.radioButton input {
  position: absolute;
  opacity:  0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.radioButton:hover input[value="1"] ~ .checkmark {
  /*background-color: var(--low-green);*/
  border: 3px solid var(--low-green);
}
.radioButton:hover input[value="2"] ~ .checkmark {
  /*background-color: var(--mid-yellow);*/
  border: 3px solid var(--mid-yellow);
}
.radioButton:hover input[value="3"] ~ .checkmark {
  /*background-color: var(--high-red);*/
  border: 3px solid var(--high-red);
}
.btn-cell input[value="1"]:checked ~ .checkmark {
  background-color: var(--low-green);
  font-weight: bold;
}
.btn-cell input[value="2"]:checked ~ .checkmark {
  background-color: var(--mid-yellow);
  font-weight: bold;
}
.btn-cell input[value="3"]:checked ~ .checkmark {
  background-color: var(--high-red);
  font-weight: bold;
}
.radioButton:hover input:checked ~ .checkmark {
  /*background-color: white;*/
  border: 3px solid white;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* End of Radio button style */


/* Style of sidebar with results */
.resultbar {
  visibility: hidden;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  margin: 80px;
}
.reset-btn {
  height: 60px;
  width: 180px;
  font-size: 18px;
  color: white;
  background-color: var(--background-blue);
  margin-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-btn:hover {
  background-color: var(--highlight-blue);
}
/* End of sidebar style */

/* Collapsible content */
.collapsible {
  visibility: hidden;
}
.collapsible-content {
  display: flex;
}
/* End of collapsible */
#ref {
  visibility: hidden;
}

.image-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}