@import "../utility/color.css";

.dyspne-body {
    background-color: var(--background-grey);
}
.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-width: 2000px;
}
.collapsible {
    color: white;
    background-color: black;
}
.collapsible-content {
    background-color: var(--background-grey);
}
h4 {
    font-size: 1.4em;
    font-weight: bold;
}
p {
    font-size: 1.2em;
    font-weight: bold;
}
.additional-info {
    font-weight: normal;
    font-size: 1.0em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.footer-title {
    font-size: 0.8em;
    font-weight: normal;
    border-top: 1px solid black;
    margin-top: auto;
    padding-top: 1em;
}